VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_JWT_SECRET=
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
VITE_MAPBOX_TOKEN=
VITE_OPENWEATHER_API_KEY=
VITE_FACE_MATCH_THRESHOLD=0.5
AQI_TOKEN=
HERE_TRAFFIC_API_KEY=
